[submodule "pack/mypack/start/nerdtree"]
	path = pack/mypack/start/nerdtree
	url = http://github.com/scrooloose/nerdtree
[submodule "pack/mypack/start/nerdgree-git-plugin"]
	path = pack/mypack/start/nerdgree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "pack/mypack/start/vim-fugitive"]
	path = pack/mypack/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/mypack/start/lightline.vim"]
	path = pack/mypack/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/mypack/start/deoplete.nvim"]
	path = pack/mypack/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "pack/mypack/start/gtags.vim"]
	path = pack/mypack/start/gtags.vim
	url = https://github.com/vim-scripts/gtags.vim.git
[submodule "pack/mypack/start/spelunker.vim"]
	path = pack/mypack/start/spelunker.vim
	url = https://github.com/kamykn/spelunker.vim.git
